
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins'
}
main{
    box-sizing: border-box;
    padding: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
}





